<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_entrada.nome %>
</p>

<%= link_to 'Edit', edit_tipo_entrada_path(@tipo_entrada) %> |
<%= link_to 'Back', tipo_entradas_path %>
